# Directorios y archivos específicos de IntelliJ
.idea/
*.iml
*.iws

# Archivos de compilación
out/
target/
build/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.class
*.jar

# Archivos de dependencias (para proyectos con Maven o Gradle)
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Archivos de entorno
.env

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
